* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif;
    font-size:13px;
    overflow-x:hidden;
}
header {
    height:80px;
    background-color:#FFF;
    color:#FFF;
}
.header {
    max-width:1140px;
    height:80px;
    margin:auto;
    display:flex;
    align-items:center;
}
.logo {
    width:100px;
}
.logoimg {
    width:200px;
    height:48px;
}
.logoimg img {
    margin-left:16px;
}
.menu-opener {
    display:none;
}
.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style:none;
}
.menu ul {
    display:flex;
}
.menu li a {
    color:#000;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left:10px;
    padding-right:10px;
    height:80px;
    display:flex;
    align-items:center;
    /*border-bottom:5px solid #000;*/
}

.menu li a:hover {
    cursor:pointer;
    background-color:#dfcdb9;
}

.button {
    display:inline-block;
    background-color:#B28756;
    color:#FFF;
    text-transform: uppercase;
    font-size:12px;
    font-weight:600;
    text-decoration: none;
    padding:10px 30px;
    text-wrap: nowrap;

}
.button:hover {
    cursor: pointer;
}
.button--dark {
    background-color:#000;
}
.button--dark:hover {
    background-color:#B28756;
}

.banner {
    min-height: 500px;
    height:calc(100vh - 100px);
    background-color:#333;
    background-size:cover;
    background-position:bottom;
    overflow:hidden;
}
.banner .sliders {
    width:1000vw;
    height:100%;
}
.banner .slide {
    width:100vw;
    height:100%;
    display:inline-block;
    background-color:rgba(47, 45, 45, 0.8);
    display:inline-block;
    transition:all 1s inline;
}

.banner .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    text-align: right;
    color:#FFF;
    margin-right: 17px;
}


.banner .slidearea img {
    margin-bottom: 20px;
    width:480px;
    box-shadow:0px 5px 10px #333;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size:50px;
    transition:all 1s linear;
}
.banner h1 span {
    color:#B28756;
}
.banner h2 {
    margin-left:20px;
    margin-top:20px;
    margin-bottom: 20px;
    font-weight:normal;
}
.banner .sliders-pointers {
    width:100vw;
    height:20px;
    position:absolute;
    margin-top:-50px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:20px;
    cursor:pointer;
}
.banner .pointer.active {
    background-color:#B28756;
    transition:all 1s linear;
}

.trabalhos_mobile {
    display: none;
}

.default {
    padding-top:50px;
    padding-bottom:50px;
}
.default .section-title,
.default .section-desc {
    text-align:center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size:27px;
}
.default .section-desc {
    font-size:12px;
    color:#CCC;
    margin-top:10px;
    margin-bottom:40px;
}
.default .section-body {
    max-width:1140px;
    margin:auto;
}
.default.light {
    background-color:#F7F7F7;
}
.default.light .section-title,
.default.light .section-body {
    color:#000;
}
.default.dark {
    background-color:#000;
}
.default.dark .section-title,
.default.dark .section-body {
    color:#FFF;
}

footer {
    background-color:#000;
    padding:20px;
}
.footer--area {
    max-width:1140px;
    margin:auto;
    color:#FFF;
    display:flex;
}
.footer--item {
    flex:1;
}
.footer--item.area2 {
    color:#999;
    line-height:15px;
    font-size:13px;
    padding:0 10px 10px 10px;
}
.footer--item.area3 form {
    background-color:#333;
    text-align:center;
    padding:30px;
}
.footer--item.area3 input {
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    color:#FFF;
    font-size:14px;
    text-align:center;
}


/*
CSS DE ÁREAS ESPECÍFICAS
*/
.section-aboutus {
    display:flex;
}
.section-aboutus--left {
    flex:1;
}
.section-aboutus--left p {
    font-size:14px;
    line-height:25px;
}
.section-aboutus--right {
    width:520px;
    text-align:center;
}
.section-aboutus--right img {
    width:480px;
    box-shadow:0px 5px 10px #333;
}


.section-services {
    display:flex;
}
.section-service {
    flex:1;
    text-align:center;
    border-right:1px solid #333;
    padding:15px;
}
.section-service:first-child {
    border-left:1px solid #333;
}
.section-service h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:20px;
}
.section-service h3 {
    margin-top:10px;
    font-size:15px;
}
.section-service p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}
.section-service a {
    color:#999;
    text-decoration:none;
    font-weight: bold;
}


.section-projects {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border:1px solid #CCC;
    background-color:#EEE;
    border-radius:30px;
    display:inline-block;
    padding:0px 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style:none;
}
.section-projects--filters li {
    display:inline-block;
    padding:10px;
    text-transform: uppercase;
    font-size:13px;
    border-left:1px solid #CCC;
    color:#555;
    border-bottom:3px solid #EEE;
    cursor:pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom:3px solid #B28756;
}
.section-projects--filters li:first-child {
    border-left:0;
}

.section-projects--photos {
    width:100vw;
    max-width:1140px;
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.section-projects--photo {
    width:280px;
}
.section-projects--photoarea {
    margin:10px;
    width:260px;
    height:160px;
}
.section-projects--photoarea img {
    width:inherit;
    height:inherit;
}
.section-projects--photoinfo {
    position:absolute;
    background-color:rgba(0, 0, 0, 0.5);
    width:inherit;
    height:inherit;
    display:none;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#FFF;
}
.section-projects--photoinfo h5 {
    font-size:18px;
    font-weight:600;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display:flex;
}

.testimonials .section-body {
    max-width:initial;
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    /*width:1000vw;*/
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    margin-top:30px;
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom: 40px;
}
.section-testimonials .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-testimonials .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-testimonials .pointer.active {
    background-color:#B28756;
}

.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}
.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}

.section-map {
    background-size:cover;
    background-position:center;
    padding-top:30px;
    padding-bottom:30px;
}

iframe{
    display: none;
}
.section-map--area {
    width:100vw;
    max-width:1140px;
    margin:auto;
}
.section-map--info {
    width:50%;
    padding:30px;
    background-color:#FFF;
    color:#000;
}
.section-map--info-item {
    display:flex;
    align-items:center;
    color:#999;
    margin-bottom:10px;
}
.section-map--info-item-img {
    width:30px;
    height:30px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color:#999;
    border-radius:15px;
    margin-right:15px;
}
.section-map--info-item-img img {
    width:15px;
    height:auto;
}

.section-map--info-title,
.section-map--info-desc {
    text-align:center;
    text-transform: uppercase;
    font-weight: 600;
}
.section-map--info-title {
    font-size:27px;
}
.section-map--info-desc {
    font-size: 12px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}
.sticky {
    margin-left:90%;
}

@media (min-width: 801px) {
    .section-map {
        background-image:url('../images/mapa.png');
        background-size:cover;
        background-position:center;
    }

}
@media (min-width: 451px ) {
    .banner {
        background-image:url('../images/bg_desk.jpg');
    }
}
@media (min-height: 451px) and (max-height: 641px) {
    .banner h1 {
        margin-top:-90px;
    }
}
@media (max-height: 450px) {
    .banner h1 {
        font-size: 35px;
    }
    .banner .slidearea img {
        margin-bottom: 20px;
        width:310px;
        box-shadow:0px 5px 10px #333;
    }
    .banner .pointer {
        margin-top: 23px;
    }
}
@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left:30px;
    }
    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }

    nav {
        overflow:hidden;
        position: absolute;
        max-width: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        height: calc(100vh - 100px);
        top: 80px;
        right: 0px;
        transition: max-height 1s linear;
    }

    .navHide {
        max-width: 0;
    }

    .navShow {
        max-width: 100%;
    }


    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:80px;
        font-size:27px;
        margin-left:50px;
        border:0;
        color:#B28756;
    }

    .menu li.active a {
        border:0;
        color:#FFF;
    }
    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:50%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-team {
        max-width:580px;
    }

    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:50%;
    }
    .section-map {
        padding-left:30px;
        padding-right:30px;
        padding-bottom:0px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }

    iframe{
        display: block;
        width:100%;
        height: 310px;
    }
    footer {
        padding:30px;
    }

    .sticky {
        margin-left:90%;
    }
}

@media (max-width:450px) {
    .logo {
        margin-left:30px;
    }

    .logoimg img {
        margin-left:0px;
    }

    .menu-opener {
        display:block;
        width:45px;
        margin-right:30px;
    }
    nav {
        overflow:hidden;
        position: absolute;
        max-width: 0;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        height: calc(100vh - 100px);
        top: 80px;
        right: 0px;
        transition: max-height 1s linear;
    }

    .navHide {
        max-width: 0;
    }

    .navShow {
        max-width: 100%;
    }
    .menu ul {
        flex-direction:column;
    }

    .menu li a {
        font-weight:bold;
        height:60px;
        font-size:20px;
        margin-left:30px;
        border:0;
        color:#B28756;
    }
    .menu li.active a {
        border:0;
        color:#FFF;
    }

    .banner {
        background-image:url('../images/bg_mobile.jpg');
    }

    .banner h1 {
        font-size:35px;
    }
    .banner h2 {
        margin-top:10px;
        font-size:15px;
    }

    .banner .slidearea {
        display:flex;
        flex-direction:column;
        height:100%;
        justify-content: center;
        align-items:center;
        text-align: center;
        color:#FFF;
        margin-right: 17px;
        margin-left: 17px;
    }

    .banner .slidearea img {
        text-align: center;
        width:100%;
    }
    .trabalhos_mobile {
        display: block;
    }
    .trabalhos_desk {
        display:none;
    }

    .section-aboutus {
        flex-direction:column;
    }
    .section-aboutus--left {
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
    }

    .section-aboutus--right {
        width:auto;
        margin-left:30px;
        margin-right:30px;
    }
    .section-aboutus--right img {
        width:100%;
    }

    .section-services {
        flex-wrap:wrap;
    }
    .section-service {
        min-width:100%;
        margin-bottom:30px;
    }
    .section-service:first-child {
        border-left:0;
    }

    .section-projects--filters {
        margin-left:30px;
        margin-right:30px;
    }
    .section-projects--photo {
        width:320px;
    }
    .section-projects--photoarea {
        width:300px;
        height:190px;
    }

    .section-team {
        max-width:280px;
    }

    .section-companies--area {
        flex-wrap:wrap;
    }
    .section-company {
        min-width: 50%;
        margin-bottom: 20px;
    }
    .section-facts {
        flex-wrap:wrap;
    }
    .section-fact {
        min-width:100%;
    }
    .section-contact {
        max-width:100vw;
        margin-left:20px;
        margin-right:20px;
    }
    .section-contact--split {
        flex-direction: column;
    }

    .section-contact .button {
        margin-top: 30px;
    }

    .section-map {
        background-color:#FFF;
        padding:0;
        padding-bottom:0px;
    }
    .section-map--area {
        width:auto;
    }
    .section-map--info {
        width:auto;
    }
    .section-map--info-item {
        margin-bottom:20px;
    }
    .section-map--info-item:last-child {
        margin-bottom:0;
    }
    .section-map--info-title,
    .section-map--info-desc {
        text-align:center;
        text-transform: uppercase;
        font-weight: 600;
    }
    .section-map--info-title {
        font-size:27px;
    }
    .section-map--info-desc {
        font-size: 12px;
        color: #CCC;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    iframe{
        display: block;
        width:100%;
        height: 300px;
    }

    .footer--area {
        flex-direction:column;
    }
    .footer--item {
        margin-bottom:20px;
    }
    .sticky {
        margin-left:80%;
    }
}


.sticky {
  position: fixed;
  bottom: 50px;
}

#btnScrollTop {
    color:#FFF;
    border:0px;
    overflow:hidden;
    opacity: 0.9;
    transition: all 0.8s linear;
}

.btnScrollTopShow {
    bottom: 0px;
}

.btnScrollTopHide {
    bottom: -50px;
}

.number {
    opacity: 0;
}
.numberShow {
    opacity: 1;
    transition: all 0.8s linear;
}


.shake {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}